language: php
php:
    - '7.0'
    - '7.1'
    - '7.2'
install:
    composer install

script:
    - vendor/bin/phpunit --coverage-clover=coverage/report/clover.xml

after_success:
    - bash <(curl -s https://codecov.io/bash)